body {
background: rgb(226, 223, 223);
font-family: Verdana;
max-width: 900px;
margin: auto;
}
#title, .subtitle, .post_title{
color: rgb(59, 59, 63);
}
#title{
    font-size: 40px;
    text-transform: uppercase;
}
a {
    text-decoration: line-through;
    color:#505050;
}

.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0%;
    margin-bottom: 15px;

}
.post{
    background: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 5px;

}
.post_content{
    margin: 0%;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}
.post_imj{
    margin-bottom: 15px;
    width: 100%;
}
.photo{
    border-color: #505050;
    border-radius: 50px;
    max-width: 100px;
}
.contact_list{
    list-style-type: none;
    padding-left: 15px;
}
.contact_list li a {
    text-decoration: none;
}